body {
    background-color: #d8b2ff; /* Fondo lila */
    font-family: Arial, sans-serif;
}

header.bg-purple {
    background-color: #800080; /* Morado fuerte */
}

.card {
    background-color: #f3e5ff;
    border-radius: 10px;
}
body {
    background-color: #d8b2ff; /* Fondo lila */
    font-family: Arial, sans-serif;
}

header.bg-purple {
    background-color: #800080; /* Morado fuerte */
}

.card {
    background-color: #f3e5ff;
    border-radius: 10px;
}
