/* Estilos generales */
body {
    background-color: #c8a2c8;
}

.btn-primary {
    background-color: #ff5733;
    border-color: #ff5733;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #e14a29;
    border-color: #e14a29;
}

header h1 {
    color: #140e14;
}

/* Responsive */
@media (max-width: 576px) {
    body {
        background-color: #b37eb2;
    }
}

/* Estilos para la Galería Interactiva */
.gallery img {
    width: 100%;
    height: auto;
    border: 4px solid transparent;
    border-radius: 8px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.03);
}

.gallery img.selected {
    border: 4px solid #dc3545; /* rojo Bootstrap */
    box-shadow: 0 0 15px rgba(220, 53, 69, 0.6);
}
